header{
	background-color: #242424;
	padding: 10px;
}

main {
	background-color: black;
	padding: 15px;
}

footer {
	background: #696969;
}
.footer-columns{
	display: flex;
}

.footer-column{
	flex: 50%;
	margin: 20px;
}

.post{
	background-color: #242222;
	padding: 20px;
	border-radius: 10px;
	margin-bottom: 20px;
	display: flex;
}

.post img{
	margin: 20px;
}

.post-info{
	color: gray;
}

.comment {
	background-color: black;
	padding: 20px;
	border-radius: 10px;
	margin-top: 10px;
}

.author {
	margin-top: 0px;
	margin-bottom: 10px;
}

.date{
	color: silver;
	margin-top: 0px;
	margin-bottom: 10px;
}

.sub-comment{
	margin-left: 40px;
}

#menu1{
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	z-index: 10;
}

#menu1 ul{
	position: relative;
	display: block;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: auto;
	list-style: none;
}

#menu1 > ul::after{
	display: block;
	width: 100%;
	height: 0px;
	clear: both;
	content: " ";
}

#menu1 ul li{
	position: relative;
	display: block;
	float: left;
	width: auto;
	height: auto;
}

#menu1 ul li a{
	display: block;
	padding: 9px 25px 0px 25px;
	font-size: 13px;
	line-height: 1.3em;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	height: 70px;
	box-sizing: border-box;
	color: black;
}

#menu1 ul li ul{
	position: absolute;
	display: none;
}

#menu1 ul li:hover ul{
	display: block;
}

#menu1 ul li ul li{
	float: none;
	width: 100%;
}

#menu1 ul li ul li a{
	display: block;
	text-transform: none;
	height: auto;
	padding: 7px 25px;
	width: 100%;
	box-sizing: border-box;
	border-top: 1px solid #ffffff;
	color: black;
}

#menu1 ul li ul li:first-child a{
	border-top: 0px;
}
#menu1 ul li:hover > a{
	background: black;
	color: #38b6ff;
}
.carousele{
	margin: 10px;
}

.carousele div img{
	width: 100%;
}
#button-read .b-pink,#button-read .b-pink:before{background:#e748ea;background:-moz-linear-gradient(45deg,#e748ea 0,#4b1abc 100%);background:-webkit-gradient(left bottom,right top,color-stop(0,#e748ea),color-stop(100%,#4b1abc));background:-webkit-linear-gradient(45deg,#e748ea 0,#4b1abc 100%);background:-o-linear-gradient(45deg,#e748ea 0,#4b1abc 100%);background:-ms-linear-gradient(45deg,#e748ea 0,#4b1abc 100%);background:linear-gradient(45deg,#e748ea 0,#4b1abc 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e748ea',endColorstr='#4b1abc',GradientType=1)}
#button-read .button{display:inline-block;position:relative;border-radius:3px;text-decoration:none;padding:.5em;margin:.5em;font-size:2em;font-weight:700;transition:all .5s;-webkit-background-clip:text;-webkit-text-fill-color:transparent}
#button-read .button:hover{text-shadow:0 0 0 rgba(255,255,255,.75)}
#button-read .button:hover:after{left:100%;top:100%;bottom:100%;right:100%}
#button-read .button:before{content:'';display:block;position:absolute;left:0;top:0;bottom:0;right:0;z-index:-1;border-radius:5px;transition:all .5s}
#button-read .button:after{content:'';display:block;position:absolute;left:2px;top:2px;bottom:2px;right:2px;z-index:-1;border-radius:5px;transition:all .5s;background:#fff}
#button-menu .b-red,#button-menu .b-red:before{background:#ea6e48;background:-moz-linear-gradient(45deg,#ea6e48 0,#bc1a63 100%);background:-webkit-gradient(left bottom,right top,color-stop(0,#ea6e48),color-stop(100%,#bc1a63));background:-webkit-linear-gradient(45deg,#ea6e48 0,#bc1a63 100%);background:-o-linear-gradient(45deg,#ea6e48 0,#bc1a63 100%);background:-ms-linear-gradient(45deg,#ea6e48 0,#bc1a63 100%);background:linear-gradient(45deg,#ea6e48 0,#bc1a63 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ea6e48',endColorstr='#bc1a63',GradientType=1)}
#button-menu .button{display:inline-block;position:relative;border-radius:3px;text-decoration:none;padding:.5em;margin:.5em;font-size:2em;font-weight:700;transition:all .5s;-webkit-background-clip:text;-webkit-text-fill-color:transparent}
#button-menu .button:hover{text-shadow:0 0 0 rgba(255,255,255,.75)}
#button-menu .button:hover:after{left:100%;top:100%;bottom:100%;right:100%}
#button-menu .button:before{content:'';display:block;position:absolute;left:0;top:0;bottom:0;right:0;z-index:-1;border-radius:5px;transition:all .5s}
#button-menu .button:after{content:'';display:block;position:absolute;left:2px;top:2px;bottom:2px;right:2px;z-index:-1;border-radius:5px;transition:all .5s;background:#fff}
#about-header {
	background-image: url('https://losst.ru/wp-content/uploads/2017/01/LOSSTNEW_2.0-text.png');
}
#button-podmenu .b-orange,#button-podmenu .b-orange:before{background:#ffc107;background:-moz-linear-gradient(45deg,#ffc107 0,#ff5722 100%);background:-webkit-gradient(left bottom,right top,color-stop(0,#ffc107),color-stop(100%,#ff5722));background:-webkit-linear-gradient(45deg,#ffc107 0,#ff5722 100%);background:-o-linear-gradient(45deg,#ffc107 0,#ff5722 100%);background:-ms-linear-gradient(45deg,#ffc107 0,#ff5722 100%);background:linear-gradient(45deg,#ffc107 0,#ff5722 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc107',endColorstr='#ff5722',GradientType=1)}
#button-podmenu .button{display:inline-block;position:relative;border-radius:3px;text-decoration:none;padding:.5em;margin:.5em;font-size:2em;font-weight:700;transition:all .5s;-webkit-background-clip:text;-webkit-text-fill-color:transparent}
#button-podmenu .button:hover{text-shadow:0 0 0 rgba(255,255,255,.75)}
#button-podmenu .button:hover:after{left:100%;top:100%;bottom:100%;right:100%}
#button-podmenu .button:before{content:'';display:block;position:absolute;left:0;top:0;bottom:0;right:0;z-index:-1;border-radius:5px;transition:all .5s}
#button-podmenu .button:after{content:'';display:block;position:absolute;left:2px;top:2px;bottom:2px;right:2px;z-index:-1;border-radius:5px;transition:all .5s;background:#fff}
#note {
    position: absolute;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    background: radial-gradient(circle at 65% 15%, aqua, darkblue);
    text-align: center;
    line-height: 2.5;
    overflow: hidden;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow:    0 0 5px black;
    box-shadow:         0 0 5px black;
}
.cssanimations.csstransforms #note {
    -webkit-transform: translateY(-50px);
    -webkit-animation: slideDown 2.5s 1.0s 1 ease forwards;
    -moz-transform:    translateY(-50px);
    -moz-animation:    slideDown 2.5s 1.0s 1 ease forwards;
}
@-webkit-keyframes slideDown {
    0%, 100% { -webkit-transform: translateY(-50px); }
    10%, 90% { -webkit-transform: translateY(0px); }
}
@-moz-keyframes slideDown {
    0%, 100% { -moz-transform: translateY(-50px); }
    10%, 90% { -moz-transform: translateY(0px); }
}
.cssanimations.csstransforms #close {
  display: none;
}
.post h3{
	color: white;
}
.post p {
	color: white;
}
.last-content {
	color: white;
}
progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: blue;
  z-index: 1;
}